.row {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1; 
    justify-content: space-between;
}

.card {
    width: 15rem; 
    transition: 250ms;
    text-decoration: none;
}

.card-title{
    text-decoration: none;
    color: black; 
    margin-top: 10px;
}

.card-text{
    font-size: 17px;
    text-decoration: none;
    color: black; 
}

.card-img-top{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

.icon-link{
    padding-right: 10px;
}

.bounce {
    transition: 250ms;
}

.card:hover {
    transform: translateY(-4px);
}

.progress-button{
    position: absolute;
    top: 6%;
    right: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}