.card-container {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; 
    text-decoration: none;
    margin: 10px; 
    margin-bottom: 20px;
    border-radius: 10px;
}

.card-img {
    padding: 10px;
    max-width: 30%;
    height: auto;
}

.card-img-text {
    display: flex;
    flex-direction: row;
}

.card-texts {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-project-title {
    text-decoration: none;
    color: black; 
    margin-top: 10px;
}

.card-project-text {
    font-size: 17px;
    text-decoration: none;
    color: black; 
}

.bounce {
    transition: 500ms;
}

.cards:hover {
    /* transform: translateY(-8px); */
    background-color: rgb(229, 242, 253);
}

.tool-website {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.icon-link {
    padding-right: 10px;
}

.progress-button {
    position: absolute;
    background-color: green;
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}

.tool-list {
    flex-wrap: wrap;
    display: flex;
    list-style: none;  
    padding-left: 0;
    margin-bottom: 5px;
    font-size: 15px;
}

.tools-tag {
    display: inline;
    list-style-type: none;
    background-color: rgb(191, 238, 246);
    border-radius: 10px;
    border: none; 
    padding: 4px 7px;
    margin-right: 3px; 
    text-align: center;
}

.website-link {
    margin-bottom: 10px;
}