.row {
    flex: 0 1; 
    justify-content: space-between;
}

.cards {
    height: 100%;
    width: 100%; 
    text-decoration: none;
    border: solid #e2e3e4;
    border-radius: 3%;
    margin: 10px; 
    padding: 10px; 
}

.card-texts {
    margin-left: 10px;
}

.card-project-title {
    text-decoration: none;
    color: black; 
    margin-top: 10px;
}

.card-project-text {
    font-size: 17px;
    text-decoration: none;
    color: black; 
}

.card-img-top {
    padding: 10px;
    height: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.icon-link {
    padding-right: 10px;
}

.bounce {
    transition: 250ms;
}

.card-body {
    justify-content: space-between;
}

.cards:hover {
    transform: translateY(-8px);
}

.progress-button {
    position: absolute;
    background-color: green;
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.tool-list {
    flex-wrap: wrap;
    display: flex;
    list-style: none;  
    padding-left: 0;
}

.tools-tag {
    display: inline;
    list-style-type: none;
    background-color: rgb(191, 238, 246);
    border-radius: 15px;
    border: none; 
    padding: 6px 12px;
    margin: 3px; 
    text-align: center;
}

.website-link {
    position: absolute; 
    margin: 3px;
}