.container-intro {
    align-items: center;
    justify-content: center;
    font-size: 17px;
    width:55%;
    margin: 1% auto;
}

.container-image {
    margin-right: 5%;
    margin-left: 5%;  
    margin-top: 5%;  
    margin-bottom: 2%;  
}

.intro-me-image{
    justify-content: center;
    align-items: center; 
    display: flex; 
    margin-top: 200px; 
    margin-bottom: 30px;
}

.myimage {
    border-radius: 50%;
    width: 12rem; 
}

a:link {
    text-decoration: none;
}