.intro-me-title {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 10%;
    margin-top: 15%;
    margin-left: 15%; 
    font-size: 2em;
}

.container-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1005; 
}

.intro-me-text {
    font-size: 17px;
    width: 100%; 
}

.intro-icons {
    display: flex; 
    align-items: left;
    justify-content: left;
    list-style: none;
    margin-left: 11%;
}

.icons {
    padding: 0.5%;
    margin: 0.5%; 
}

.intro-me-image{
    display: flex;
    float: right; 
    margin-right: 15%;
}

img{
    width: 100%;
    float: right;
    border-radius: 50%;
    display: block;
    margin-left: auto;
}