.card {
    width: 15rem; 
    transition: 250ms;
    text-decoration: none;
}

.card-title{
    text-decoration: none;
    color: black; 
    margin-top: 10px;
}

.card-text{
    font-size: 17px;
    text-decoration: none;
    color: black; 
}

.card-img-top{
    /* border-bottom: 1px solid black; */
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

.icon-link{
    padding-right: 10px;
}

.bounce {
    transition: 250ms;
}

.card:hover {
    transform: translateY(-4px);
}