.experience-title {
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 2em; 
    margin-top: 15%;
    margin-left: 20%;
    padding-top: 10%;
}

.experience-intro{
    margin-left: 20%;
    margin-right: 20%; 
    font-size: 17px;
}

.bulletpoints {
    padding-left: 18%;
}

.timeline {
    margin-left: 20%;
}

.companyName {
    font-size: 17px;
}

.linkStyle{
    font-size: 17px;
}