.project-title{
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 2em;
    padding-top: 10%; 
    margin-left: 20%
}

.card {
    width: 18rem; 
    margin-left: 20%; 
}