.experience-title {
    display: flex;
    justify-content: left;
    font-size: 2em; 
    margin-top: 15%;
    margin-left: 20%;
    margin-bottom: 5%;
    padding-top: 10%;
}

.experience-intro{
    margin-left: 20%;
    margin-right: 20%; 
    font-size: 17px;
}

.bulletpoints {
    padding-left: 18%;
}

.timeline, .resume{
    margin-left: 20%;
}

.companyName, .linkStyle {
    font-size: 17px;
}